html,
body,
[data-page-root],
[data-page-element] {
    height: 100%;
}
[data-page-element="projects"] {
    margin: 5rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 1rem;
}
[data-project-card] {
    width: 20rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
}
