html,
body,
[data-page-root],
[data-page-element] {
    height: 100%;
}
[data-page-element="projects"] {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 1vh;
}
[data-project-card] {
    width: 50vw;
    height: 20vh;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
[data-page-element="project-content"] {
    display: flex;
    flex-direction: column;
}
[data-project-name] {
    align-self: center;
}
[data-is-done] {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
[data-is-done="false"] {
}
[data-is-done="true"] {
}
[data-todo] {
    padding: 10rem;
    border: 1px black solid;
}
[data-separate-todos] {
    margin: 1rem 0;
    border-width: 0.5rem;
}
