html,
body,
[data-page-root],
[data-page-element] {
    height: 100%;
}
/* projects */
[data-page-element="projects"] {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 1vh;
}
[data-project-card] {
    width: 50vw;
    height: 20vh;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
/* todos of projects */
[data-page-element="project-content"] {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
[data-project-page-head-with-arrow] {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
[data-project-page-head] {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}
[data-page-back-arrow] {
    width: 5rem;
    flex-grow: 0;
    margin-right: 0;
    padding-right: 0;
}
[data-project-name] {
}
[data-project-deleter] {
}

[data-is-done] {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
[data-is-done="false"] {
}
[data-is-done="true"] {
}
[data-todo] {
    width: 10rem;
    padding: 5rem 1rem;
    word-wrap: break-word;
    text-align: center;
    border: 1px black solid;
}
[data-separate-todos] {
    margin: 1rem 0;
    border-width: 0.5rem;
}

/* todo */
[data-page-element="todo"] {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
[data-todo-card] {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.15vw black solid;
    width: 70vw;
    height: 90vh;
    overflow-y: scroll;
}
[data-todo-card] > * {
    border: 0.15vw black solid;
    width: 90%;
    max-width: 60vw;
    padding: 1rem;
    text-align: center;
    box-sizing: border-box;
    margin: 0.5rem;
}

[data-todo-title] {
}
[data-todo-project] {
}
[data-todo-description] {
    flex-grow: 1;
    text-align: left;
    min-height: 50vh;
}
[data-todo-is-done] {
}
[data-todo-project-list] {
}
[data-todo-project-list-element] {
}
[data-button-container] {
    display: flex;
    width: 70vw;
    height: 5vh;
    justify-content: space-between;
    gap: 5vw;
    padding-top: 1rem;
}
[data-button-container] > * {
    min-width: 15vw;
}
[data-save-todo] {
    flex-grow: 1;
}
[data-delete-todo] {
}
